<h1>Login!</h1>

<form method="POST" action="/login">
  Email: <input type="text" name="email"/><br/>
  Password: <input type="password" name="password"/><br/>
  <input type="submit">
</form>

<h2>Would you like to <a href="/users/signup">sign up?</a></h2>