<h1>Give us your favorite character and quote!</h1>

<form method="POST" action="/posts">
  <select name="user_id">
    <% @users.each do |user| %>
      <option value="<%= user.id%>"> <%= user.name %></option>
    <% end %>
  </select><br />



  Character: <input type="text" name="title"><br />
  Quote:<textarea name="body"></textarea><br />
  <input type="submit">
</form>