<h1><%= @post.character %> </h1>
<p><%= @post.quote %></p>

<h2>Would you like to delete this quote?</h2>

<form method="POST" action="/posts/<%= @post.id %>">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>